html {
  display: unset;
}


.toc-sticky {
  position: fixed;
  top: 3.5rem;
}
 .page { 
  margin-top: 3.5rem;
 }

 @media (max-width: 67em) {
  .sidebar-drawer {
    margin-top: 3.5rem;
  }

}


.theme-toggle-container {
  display: none;
}

h3 {
  margin-top: 1.75rem;
}


.skip-to-content {
  display: none;
}

